% import model

% rebase('base.html', izbrani_zavihek='poglej-imenik')

<p class="subtitle">Tu so tvoji shranjeni kontakti:</p>

<br>

<form action="/uredi-kontakte-po-priimkih/" method="post">
  <button type="submit">Uredi po priimkih</button>
</form>

<form action="/uredi-kontakte-po-imenih/" method="post">
  <button type="submit">Uredi po imenih</button>
</form>

<br>
<br>
<table border="1" style="border-collapse: collapse">
  <thead>
    <tr>
      <th>Indeks</th>
      <th style="width: 100pt">PRIIMEK</th>
      <th style="width: 100pt">IME</th>
      <th style="width: 100pt">ŠTEVILKA</th>
      <th style="width: 100pt">e-mail</th>
      <th style="width: 100pt">ROJSTNI DAN</th>
      <th style="width: 100pt">OPOMBE</th>
    </tr>
  </thead>
  <tbody>
% for indeks in imenik:
    <tr>
      <td>{{ indeks }}</td>
      <td>{{ imenik[indeks]['priimek'] }}</td>
      <td>{{ imenik[indeks]['ime'] }}</td>
      <td>{{ imenik[indeks]['stevilka'] }}</td>
      <td>{{ imenik[indeks]['mail'] }}</td>
      <td>{{ imenik[indeks]['rojdan'] }}</td>
      <td>{{ imenik[indeks]['opombe'] }}</td>
      <td>
        <form action="/izbrisi-kontakt{{ indeks }}/" method="post">
          <button type="submit">Izbriši</button>
        </form>
      </td>
      <td>
        <form action="/uredi-kontakt{{ indeks }}/" method="get">
          <button type="submit">Uredi</button>
        </form>
      </td>
    </tr>

% end
  </tbody>
</table>