% import model

% rebase('base.html', izbrani_zavihek='poglej-imenik')

<table>
  <tr>
    <td>
      <form action="/uredi-kontakte-po-priimkih/" method="post">
        <button type="submit" class="button has-text-link">Uredi po priimkih</button>
      </form>
    </td>
    <td>
      <form action="/uredi-kontakte-po-imenih/" method="post">
        <button type="submit" class="button has-text-link">Uredi po imenih</button>
      </form>
    </td>
  </tr>
</table>

<br>
<br>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Št.</th>
      <th>PRIIMEK</th>
      <th>IME</th>
      <th>ŠTEVILKA</th>
      <th>e-mail</th>
      <th>ROJSTNI DAN</th>
      <th>OPOMBE</th>
    </tr>
  </thead>
  <tbody>
    % for indeks in imenik:
    <tr>
      <td>{{ indeks }}</td>
      <td>{{ imenik[indeks]['priimek'] }}</td>
      <td>{{ imenik[indeks]['ime'] }}</td>
      <td>{{ imenik[indeks]['stevilka'] }}</td>
      <td>{{ imenik[indeks]['mail'] }}</td>
      <td>{{ imenik[indeks]['rojdan'] }}</td>
      <td>{{ imenik[indeks]['opombe'] }}</td>
      <td>
        <form action="/izbrisi-kontakt{{ indeks }}/" method="post">
          <button type="submit" class="button is-primary">Izbriši</button>
        </form>
      </td>
      <td>
        <form action="/uredi-kontakt{{ indeks }}/" method="get">
          <button type="submit" class="button is-primary">Uredi</button>
        </form>
      </td>
    </tr>
    % end
  </tbody>
</table>