% import model

% rebase('base.html', izbrani_zavihek='poisci-kontakt')

% if rezultat is None:
<p class="subtitle">Poišči kontakt:</p>
<form action="/poisci-kontakt/" method="post">
  Priimek: <input type='text' name='iskanje-priimek'>
  Ime: <input type='text' name='iskanje-ime'>
  Telefonska številka: <input type='number' name='iskanje-stevilka'>
  <button type="submit">Poišči</button>
</form>

% elif rezultat == model.KONTAKT_NE_OBSTAJA:
<p>Kontakt s temi podatki žal ne obstaja. Pojdite nazaj ali poskusite še enkrat.</p>
<form action="/poisci-kontakt/" method="post">
    Priimek: <input type='text' name='iskanje-priimek'>
    Ime:<input type='text' name='iskanje-ime'>
    Telefonska številka:<input type='number' name='iskanje-stevilka'>
    <button type="submit">Poišči</button>
</form>
<br>

% elif rezultat == model.PRAZNO:
<p>Vpiši nekaj!</p>
<form action="/poisci-kontakt/" method="post">
    Priimek: <input type='text' name='iskanje-priimek'>
    Ime:<input type='text' name='iskanje-ime'>
    Telefonska številka:<input type='number' name='iskanje-stevilka'>
    <button type="submit">Poišči</button>
</form>
<br>

% else:
<p>Število najdenih kontaktov: {{ len(rezultat) }}</p>
<br>
% for i in rezultat:
<p><i>Priimek: </i><b>{{ rezultat[i]['priimek'] }}</b></p>
<p><i>Ime: </i><b>{{ rezultat[i]['ime'] }}</b></p>
<p><i>Telefonska številka: </i><b>{{ rezultat[i]['stevilka'] }}</b></p>
<p><i>Elektronski naslov: </i><b>{{ rezultat[i]['mail'] }}</b></p>
<p><i>Rojstni dan: </i><b>{{ rezultat[i]['rojdan'] }}</b></p>
<p><i>Opombe: </i>{{ rezultat[i]['opombe'] }}</p>
<br>
<br>
% end