% import model

% rebase('base.html', izbrani_zavihek='poisci-kontakt')

<form action="/poisci-kontakt/" method="post">
  Priimek: <input class="input" type='text' name='iskanje-priimek'>
  Ime: <input class="input" type='text' name='iskanje-ime'>
  Telefonska številka: <input class="input" type='number' name='iskanje-stevilka'>
  <hr>
  <button type="submit" class="button is-outlined is-link">Poišči</button>
</form>
<br>

% if rezultat == model.KONTAKT_NE_OBSTAJA:
<p>Kontakt s temi podatki žal ne obstaja. Pojdite nazaj ali poskusite še enkrat.</p>

% elif rezultat == model.PRAZNO:
<p>Vpiši nekaj!</p>

% elif rezultat is None:
<p></p>

% else:
<p>Število najdenih kontaktov: {{ len(rezultat) }}</p>
<br>
% for i in rezultat:
<p><i>Priimek: </i><b>{{ rezultat[i]['priimek'] }}</b></p>
<p><i>Ime: </i><b>{{ rezultat[i]['ime'] }}</b></p>
<p><i>Telefonska številka: </i><b>{{ rezultat[i]['stevilka'] }}</b></p>
<p><i>Elektronski naslov: </i><b>{{ rezultat[i]['mail'] }}</b></p>
<p><i>Rojstni dan: </i><b>{{ rezultat[i]['rojdan'] }}</b></p>
<p><i>Opombe: </i>{{ rezultat[i]['opombe'] }}</p>
<br>
<br>
% end