% rebase('base.html')

<p>Pozdravljeni v tem programu. Če že imate svoje uporabniško ime in geslo, se vpišite.
    V nasprotnem primeru se registrirajte.
</p>

<p>Vpis:</p>
<br>
<form action="/prijava/" method="post">
    Uporabniško ime: <input type='text' name='uporabnisko_ime'>
    Geslo: <input type='password' name='geslo'>
    <button type="submit">Vpiši se</button>
  </form>

<br>
<br>
<br>

<p>Registriracija:</p>
<br>
<form action="/prijava/" method="post">
    Uporabniško ime: <input type='text' name='uporabnisko_ime'>
    Geslo: <input type='password' name='geslo'>
    <button type="submit">Registriraj se</button>
  </form>